@import '../variables/_variables.scss';


.header-sec{
    background: url(./assets/img/Opening.png) center no-repeat;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0,0,0,.2) 0.2%, rgba(16,20,24, .9) 40%);
    }
    .main-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 990px;
        margin: 0 auto;
        background-color: #000;
        position: relative;
        z-index: 3;
        .logo{
            margin-right: 30px;
            max-height: 75px;
            @media (max-width: 991px){
                margin-right: 0;
            }
        }
        .collapse{
            transition: .3s;
            display: flex;
            @media (max-width: 991px) {
                overflow: hidden;
                display: none;
            }
        }
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            li{
                margin-right: 40px;
                @media (max-width: 991px) {
                    margin-bottom: 10px;
                    margin-right: 0;
                }
                .link{
                    font-family: $RobotoBold;
                    font-size: $bodyLarge;
                    transition: .3s ease-in-out;
                    color: #FFF;
                    &:hover,
                    &.active{
                        color: $mainColor;
                    }
                }
            }
            @media (max-width: 991px) {
                flex-direction: column;
                padding: 15px;
            }
        }
        @media (max-width: 991px) {
            flex-direction: column;
        }
    }
    .search-icon{
        color: $mainColor;
        cursor: pointer;
        border: 0 !important;
        background: transparent;
        outline: none !important;
        @media (min-width: 991px) {
            margin-right: 50px;
        }
    }
    .btn-book{
        position: relative;
        background-color: $mainColor;
        border: 1px solid $mainColor;
        transition: .3s;
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 270px;
        & > span{
            position: relative;
            display: inline-block;
            &::before,
            &::after{
                content: '';
                position: absolute;
                top: 50%;
                left: -50px;
                transform: translateY(-50%);
                background-color: #FFF;
                width: 35px;
                height: 1px;
                transition: .3s;
            }
            &::before{
                right: -50px;
                left: unset;
            }
        }
        &:hover{
            background-color: #FFF;
            color: $mainColor;
            & > span{
                &::before,
                &::after{
                    background-color: $mainColor;
                }
            }
        }
    }
    .content{
        max-width: 540px;
        margin: 130px auto 50px;
        text-align: center;
        position: relative;
        z-index: 3;
        @media (max-width: 991px) {
            margin: 50px auto;
            padding: 0 5px;
        }
    }
}
.social-common{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    li{
        &:not(:last-of-type){
            margin-right: 8px;
        }
        .social-link{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 11px;
            color: #FFF;
            border: 1px solid #FFF;
            border-radius: 50%;
            width: 24px;
            height: 24px;
        }
    }
}
