
// Color 
$mainColor: #A08040;
$mainColorLight: #FFCE6D;
$secondColor: #101418;

// Font
$Dancing: 'DancingScript';
$RobotoRegular: 'Roboto-Regular';
$RobotoBold: 'Roboto-Bold';
$RobotoMedium: 'Roboto-Medium';

//  Size
$bodySmall: 12px;
$bodyMedium: 14px;
$bodyLarge: 16px;

$size-18: 18px;
$size-20: 20px;
$size-22: 22px;
